<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/dms/admin-layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản lý danh mục</title>
</head>
<body>
	<div layout:fragment="content">
		<div
			class="flex justify-center items-center text-[18px] min-h-[50vh] gap-14">
			<div class="flex gap-14">
				<div class="">
					<form th:action="@{/admin/categorymanagement/f}"
						class="flex bg-gray-50 items-center p-2 m-8 w-fit h-fit rounded-md">
						<svg xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
							fill="currentColor">
                        <path fill-rule="evenodd"
								d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
								clip-rule="evenodd" />
                    </svg>
						<input class="bg-gray-50 outline-none ml-1 block w-[400px]"
							type="text" name="search" id="" placeholder="search...">
						<button type="submit"
							class="bg-black/5 py-2 px-4 text-black75 rounded-[6px] hover:bg-black/20 transition">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
					<h6 th:if="${flag}" th:text="${msg}" style="color: green" id="msg"></h6>
					<h6 th:unless="${flag}" th:text="${msg}" style="color: red"
						id="msg"></h6>
					<table class="min-w-full text-center">
						<thead class="border-b bg-gray-800">
							<tr>
								<th scope="col" class="text-sm font-medium text-white px-6 py-4">
									Id</th>
								<th scope="col" class="text-sm font-medium text-white px-6 py-4">
									Tên danh mục</th>
								<th scope="col" class="text-sm font-medium text-white px-6 py-4">
									Số sản phẩm</th>
								<th scope="col" class="text-sm font-medium text-white px-6 py-4">
									Thao tác</th>
							</tr>
						</thead>
						<tbody>
							<!-- main test -->
							<tr class="bg-white border-b" th:each="item: ${category}">
								<td
									class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
									th:text="${item.id}"></td>
								<td
									class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
									<input th:name="namebrand" th:value="${item.name}"
									th:id="${item.id}" onchange="changeValueInput(this)"
									class="read-only:bg-gray-200 w-fit h-fit appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
									readonly>
								</td>
								<td
									class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
									<h6 th:text="${item.products.size()}"></h6>
									</td>
								<td
									class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
									<button type="button"
										class="modify disabled:bg-black/5 px-6 py-2 border-2 border-green-500 text-green-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
										th:id="'modify-'+${item.id}" onClick="removeReadonly(this)">Chỉnh
										sửa</button>
									<div class="hidden gap-4" th:id="'confirm-'+${item.id}">
										<a th:id="'a-'+${item.id}" href="#"
											class="inline-block text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Xác
											nhận</a>
										<button type="button"
											class="inline-block text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
											onClick="cancelChange(this)" th:id="'cancel-'+${item.id}">Hủy
											bỏ</button>
									</div>
								</td>
							</tr>


						</tbody>
					</table>
				</div>
				<form th:action="@{/admin/categorymanagement}" method="post" th:object="${newctg}" >
					<h1 class="text-[21px] font-semibold">Thêm danh mục mới</h1>
					<h6 th:if="${flag2}" th:text="${msg2}" style="color: green"
						id="msg2"></h6>
					<h6 th:unless="${flag2}" th:text="${msg2}" style="color: red"
						id="msg2"></h6>
					<div class="flex gap-6 my-4">
						<h6 class="w-[120px]">Danh mục</h6>
						<input th:field="*{name}"
							class="bg-gray-200 w-fit h-fit appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
					</div>
					<button type="submit"
						class="inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out">Thêm
						vào!</button>
				</form>
			</div>
			<script type="text/javascript">
			const myTimeout = setTimeout(msg, 5000);

			function msg() {
				document.getElementById("msg").hidden = true;
				document.getElementById("msg2").hidden = true;
			}
            let preValue='';
            function removeReadonly(x){
                getId=x.id.split('-')[1];
                enableInput=document.getElementById(getId);
                enableInput.readOnly=false;
                preValue=enableInput.value;
                x.hidden=true;
                enableConfirm=document.getElementById("confirm-"+getId);
                enableConfirm.style.display="flex";
                disableAllButton();
            }
            function changeValueInput(x){
                a=document.getElementById("a-"+x.id);
                if(x.value!=preValue)
                a.href='/admin/categorymanagement/update?id='+x.id+'&data='+x.value;
                else
                a.href='#';
              }
            function cancelChange(x){
                getId=x.id.split('-')[1];
                enableInput=document.getElementById(getId);
                enableInput.value=preValue;
                enableInput.readOnly=true;
                button=document.getElementById("modify-"+getId);
                button.hidden=false;
                document.getElementById("confirm-"+getId).style.display="none";
                document.getElementById("a-"+getId).href="#";
                enableAllButton();

            }
            function disableAllButton(){
              listModify=document.querySelectorAll('.modify');
              listModify.forEach(button=>button.disabled=true);
            }
            function enableAllButton(){
              listModify=document.querySelectorAll('.modify');
              listModify.forEach(button=>button.disabled=false);
            }
        </script>
		</div>
	</div>
</body>
</html>