<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block th:include="includes/resource-global" />
<link rel="stylesheet" type="text/css" href="/assets/css/payment.css">
<title>Thanh toán giỏ hàng</title>

</head>
<body>
	<th:block th:include="includes/header">
	</th:block>
	<div class="container payment-form">
		<div class="payment_details">
			<h1>Thông tin thanh toán</h1>
			<div class="details_card">
				<div class="name_address">
					<div class="first_lastName">
						<input id="ipFullname" th:value="${infoCustomer.fullname}" type="text" placeholder="Họ tên" /> <input th:value="${infoCustomer.phone}" type="text"
							id="ipPhone" placeholder="Số điện thoại" />
					</div>
					<div class="address">
						<input  type="text"  id="idAddress"
							placeholder="Địa chỉ ship" />  
					</div>
					<div class="address description">
						<input id="ipNote" type="text"
							placeholder="Mô tả" />  
					</div>
				</div>
				<h1>Chi tiết vận chuyển</h1>
				<div class="shipping_card">
					<div class="new_card">
						<h4>Địa chỉ khách hàng</h4>
						<p th:text="${infoCustomer.address}" id="output"/>
					</div>
					<div class="add_savedcard">
						<h4>Địa chỉ ship</h4>
						<p th:text="${infoCustomer.address}" id="adressShip"/>
					</div>
				</div>
<!-- 				<div class="proced_payment">
					<a href="">Procced to payment</a>
				</div> -->
			</div>
		</div>
		<div class="order_summary">
			<h1>Mô tả hóa đơn</h1>
			<div id="listproduct" class="summary_card">
				<!-- <div class="card_item">
					<div class="product_img">
						<img
							src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=643&q=80"
							alt="" />
					</div>
					<div class="product_info">
						<h1>Sản phẩm a</h1>
						<p>Sản phẩm a là sản phẩm a</p>
						<div class="close-btn">
							<i class="fa fa-close"></i>
						</div>
						<div class="product_rate_info">
							<h1>$ 200</h1>
							<span class="pqt-minus">-</span> <span class="pqt">1</span> <span
								class="pqt-plus">+</span>
						</div>
					</div>
				</div>
				<div class="card_item">
					<div class="product_img">
						<img
							src="https://images.unsplash.com/photo-1543512214-318c7553f230?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
							alt="" />
					</div>
					<div class="product_info">
						<h1>Amazon Prime</h1>
						<p>Lorem Ipsum is simply dummy text.</p>
						<div class="close-btn">
							<i class="fa fa-close"></i>
						</div>
						<div class="product_rate_info">
							<h1>$ 160</h1>
							<span class="pqt-minus">-</span> <span class="pqt">1</span> <span
								class="pqt-plus">+</span>
						</div>
					</div>
				</div>
				<hr />
				<div class="order_price">
					<p>Tổng thanh toán</p>
					<h4>100 VNĐ</h4>
				</div>
				<div class="order_service">
					<p>Khuyến mãi</p>
					<h4>0 VNĐ</h4>
				</div>
				<div class="order_total">
					<p>Tổng tiền</p>
					<h4>100 VNĐ</h4>
				</div> -->
			</div>
		</div>
	</div>
	<th:block th:include="includes/footer">
	</th:block>
	<!-- Include script global-->
	<th:block th:include="includes/js-global" />
	
	<script type="text/javascript" src="/assets/js/payment.js"></script>
</body>
</html>