<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/dms/admin-layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/assets/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
   <script type="text/javascript" src="/assets/jqwidgets/scripts/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxcore.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxdata.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxbuttons.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxdatatable.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/jqwidgets/jqxtreegrid.js"></script>
   <script type="text/javascript" src="/assets/jqwidgets/scripts/demos.js"></script>
<title>Dashboard</title>
</head>

<body>
	<div class="bg-white p-8 rounded-md w-full" layout:fragment="content">
		<div class=" flex items-start justify-between pb-6">
			<div>
				<h2 class="text-gray-600 text-2xl font-semibold">Thống kê bán
					hàng</h2>
				<span class="text-xs">Darshboard</span>
				<h6 th:if="${flag}" th:text="${msg}" style="color: green" id="msg"></h6>
				<h6 th:unless="${flag}" th:text="${msg}" style="color: red" id="msg"></h6>
			</div>

		</div>
		<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto flex justify-between">
				<div class="input-date-month flex gap-10">
					<div class="flex">
						<label
							class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4 md:text-right"
							for="year"> Năm </label>
						<select id="year">
							<option th:text="${i}" th:each="i : ${#numbers.sequence( 2020, 2036, 1)}"></option>
						</select>
					</div>
					<div class="flex">
						<label
							class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4 md:text-right"
							for="year"> Tháng </label>
						<select id="month">
							<option th:text="${i}" th:each="i : ${#numbers.sequence( 1, 12, 1)}"></option>
						</select>
					</div>
				</div>
				<div class="input-date-day flex gap-10">
					<input type="date" id="startDate" />
					<input type="date" id="endDate" />
				</div>
			</div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div id="dashboard-grid"></div>
			</div>
		</div>
		<script src="/assets/js/admin-dashboard.js"></script>
	</div>
</body>

</html>