<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ProxTech - Shop</title>

  <!-- Include css, lib global -->
  <th:block th:include="includes/resource-global" />
</head>

<body>
  <!-- Include header -->
  <th:block th:include="includes/header"> </th:block>

  <!-- Content here-->

  <!-- hero section -->
  <div class="hero">
    <div class="slider">
      <div class="container">
        <!-- slide item -->
        <div th:each="product : ${@top6Product.get()}" class="slide">
          <div class="info">
            <div class="info-content">
              <h3 th:text="${product.brand?.name}" class="top-down"></h3>
              <h2 th:text="${product.name}" class="top-down trans-delay-0-2"></h2>
              <p th:text=${product.description} class="top-down trans-delay-0-4"></p>
              <a th:href="${@productPath} + '/' + ${product.slug}" class="top-down trans-delay-0-6">
                <button class="btn-flat btn-hover">
                  <span>Xem ngay</span>
                </button>
              </a>
            </div>
          </div>
          <div class="img left-right">
            <img th:src="${@uploadImageURL} + ${product.thumbnail}"
            	th:alt="'Hình ảnh ' + ${product.thumbnail}">
          </div>
        </div>
        <!-- end slide item -->
      </div>
      <!-- slider controller -->
      <button class="slide-controll slide-next">
        <i class='bx bxs-chevron-right'></i>
      </button>
      <button class="slide-controll slide-prev">
        <i class='bx bxs-chevron-left'></i>
      </button>
      <!-- end slider controller -->
    </div>
  </div>
  <!-- end hero section -->

  <!-- promotion section -->
  <div class="promotion">
    <div class="row">
      <div th:each="brand : ${@top3Brand.get()}" class="col-4 col-md-12 col-sm-12">
        <div class="promotion-box">
          <div class="text">
            <h3 th:text="${brand.name}"></h3>
            <a th:href="${@productPath} + '?b=' + ${brand.id}" class="btn-flat btn-hover">
              <span>Xem chi tiết</span>
            </a>
          </div>
          <img th:src="${@uploadImageURL} + ${brand.thumbnail}"
          	th:alt="'Hình ảnh thương hiệu ' + ${brand.name}">
        </div>
      </div>
    </div>
  </div>
  <!-- end promotion section -->
  

  <!-- top selling product list -->
  <div class="section">
    <div class="container">
      <div class="section-header">
        <h2>Top bán chạy</h2>
      </div>
      <div class="row" id="best-products">
        <div th:each="product: ${@top8SellingProduct.get()}" 
      	 class="col-3 col-md-6 col-sm-12">
          <div class="product-card">
            <div class="product-card-img">
              <img th:src="${@uploadImageURL} + ${product.thumbnail}"
              	th:alt="'Hình ảnh ' + ${product.name}">
              <img th:src="${@uploadImageURL} + ${product.thumbnail}"
              	th:alt="'Hình ảnh ' + ${product.name}">
            </div>
            <div class="product-card-info">
              <div class="product-btn">
                <a th:href="${@productPath} + '/' + ${product.slug}"  class="btn-flat btn-hover btn-shop-now">Xem ngay</a>
                <button class="btn-flat btn-hover btn-cart-add">
                  <i class='bx bxs-cart-add'></i>
                </button>
                <button class="btn-flat btn-hover btn-cart-add">
                  <i class='bx bxs-heart'></i>
                </button>
              </div>
              <div th:text="${product.name}" class="product-card-name"></div>
              <div class="product-card-price">
                <span><del th:text="'$' + ${product.price}"></del></span>
                <span th:text="'$' + ${product.price}" class="curr-price"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-footer">
        <a th:href="'/san-pham?s=sell'" class="btn-flat btn-hover">Xem tất cả</a>
      </div>
    </div>
  </div>
  <!-- end top selling product list -->

  <!-- random product -->
  <div class="bg-second">
    <div class="section container">
      <div th:with="product = ${@randomProduct.get()}" class="row">
        <div class="col-4 col-md-4">
          <div class="sp-item-img">
            <img th:src="${@uploadImageURL} + ${product.thumbnail}"
              th:alt="'Hình ảnh ' + ${product.name}">
            </div>
        </div>
        <div class="col-7 col-md-8">
          <p>Đề xuất ngẫu nhiên</p>
          <div class="sp-item-info">
            <div th:text="${product.name}" class="sp-item-name"></div>
            <p th:text="${product.description}" class="sp-item-description"></p>
            <a th:href="${@productPath} + '/' + ${product.slug}" class="btn-flat btn-hover">Xem ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end random product -->
  
  <!-- product list -->
  <div class="section">
    <div th:each="category : ${@top3Category.get()}" class="container">
      <div class="section-header">
        <h2 th:text="${category.name}"></h2>
      </div>
      <div class="row" id="latest-products">
        <div th:each="product, pStart : ${category.getProducts()}" th:unless="${pStart.index > 7}" 
      	 class="col-3 col-md-6 col-sm-12">
          <div class="product-card">
            <div class="product-card-img">
              <img th:src="${@uploadImageURL} + ${product.thumbnail}"
              	th:alt="'Hình ảnh ' + ${product.name}">
              <img th:src="${@uploadImageURL} + ${product.thumbnail}"
              	th:alt="'Hình ảnh ' + ${product.name}">
            </div>
            <div class="product-card-info">
              <div class="product-btn">
                <a th:href="${@productPath} + '/' + ${product.slug}"  class="btn-flat btn-hover btn-shop-now">Xem ngay</a>
                <button class="btn-flat btn-hover btn-cart-add">
                  <i class='bx bxs-cart-add'></i>
                </button>
                <button class="btn-flat btn-hover btn-cart-add">
                  <i class='bx bxs-heart'></i>
                </button>
              </div>
              <div th:text="${product.name}" class="product-card-name"></div>
              <div class="product-card-price">
                <span><del th:text="'$' + ${product.price}"></del></span>
                <span th:text="'$' + ${product.price}" class="curr-price"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-footer">
        <a th:href="${@productPath} + '?c=' + ${category.id}" class="btn-flat btn-hover">Xem tất cả</a>
      </div>
    </div>
  </div>
  <!-- end product list -->

  <!-- blogs -->
  <div class="section">
    <div class="container">
      <div class="section-header">
        <h2>latest blog</h2>
      </div>
      <div class="blog">
        <div class="blog-img">
          <img src="/assets/images/JBL_Quantum400_Lifestyle1.png" alt="">
        </div>
        <div class="blog-info">
          <div class="blog-title">
            Lorem ipsum dolor sit amet
          </div>
          <div class="blog-preview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, eligendi dolore. Sapiente omnis numquam
            mollitia asperiores animi, veritatis sint illo magnam, voluptatum labore, quam ducimus! Nisi doloremque
            praesentium laudantium repellat.
          </div>
          <button class="btn-flat btn-hover">read more</button>
        </div>
      </div>
      <div class="blog row-revere">
        <div class="blog-img">
          <img src="/assets/images/JBL_TUNE220TWS_Lifestyle_black.png" alt="">
        </div>
        <div class="blog-info">
          <div class="blog-title">
            Lorem ipsum dolor sit amet
          </div>
          <div class="blog-preview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, eligendi dolore. Sapiente omnis numquam
            mollitia asperiores animi, veritatis sint illo magnam, voluptatum labore, quam ducimus! Nisi doloremque
            praesentium laudantium repellat.
          </div>
          <button class="btn-flat btn-hover">read more</button>
        </div>
      </div>
      <div class="section-footer">
        <a href="#" class="btn-flat btn-hover">view all</a>
      </div>
    </div>
  </div>
  <!-- end blogs -->


  <!-- Content end -->

  <!-- Include footer-->
  <th:block th:include="includes/footer" />

  <!-- Include script global-->
  <th:block th:include="includes/js-global" />
</body>

</html>
