<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/dms/admin-layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản lý sản phẩm</title>

</head>

<body>
	<div class="bg-white p-8 rounded-md w-full" layout:fragment="content">
		<div class=" flex items-start justify-between pb-6">
			<div>
				<h2 class="text-gray-600 text-2xl font-semibold">Quản lý sản
					phẩm</h2>
				<span class="text-xs">Tất cả sản phẩm</span>
				<h6 th:if="${flag}" th:text="${msg}" style="color: green" id="msg"></h6>
				<h6 th:unless="${flag}" th:text="${msg}" style="color: red" id="msg"></h6>
			</div>

			<form class="flex flex-col gap-4">
				<div class="flex bg-gray-50 items-center p-2 w-fit h-fit rounded-md">
					<svg xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
						fill="currentColor">
                        <path fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd" />
                    </svg>
					<input class="bg-gray-50 outline-none ml-1 block w-[400px]"
						type="text" name="" id="" placeholder="search...">
					<button
						class="bg-black/5 py-2 px-4 text-black75 rounded-[6px] hover:bg-black/20 transition">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
				<div class="flex flex-col gap-4">

					<div class="flex gap-6 ">
						<select
							class="block w-fit h-fit py-2.5 px-4 w-full text-md bg-transparent border-0 border-b-2 border-gray-200 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
							<option value="" selected>--Chọn danh mục--</option>
							<!-- <option value="US">Tai nghe</option>
							<option value="CA">Laptop</option>
							<option value="FR">Điện thoại</option>
							<option value="DE">Phụ kiên</option> -->
							<option th:each="item:${@categories.get()}" th:value="${item.id}"
								th:text="${item.name}"></option>
						</select> <select
							class="block w-fit h-fit py-2.5 px-4 w-full text-md bg-transparent border-0 border-b-2 border-gray-200 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
							<option value="" selected>--Chọn nhãn hiệu--</option>
							<!-- <option value="US">Asus</option>
							<option value="CA">Apple</option>
							<option value="FR">Lenovo</option>
							<option value="DE">Sony</option> -->
							<option th:each="item:${@brands.get()}" th:value="${item.id}"
								th:text="${item.name}"></option>
						</select> <!-- <select
							class="block w-fit h-fit py-2.5 px-4 w-full text-md bg-transparent border-0 border-b-2 border-gray-200 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
							<option selected>--Chọn trạng thái--</option>
							<option value="1">Còn hàng</option>
							<option value="CA">Mới</option>
							<option value="FR">Gần hết</option>
							<option value="DE">Hết hàng</option>
						</select> -->
					</div>
					<div class="flex justify-end gap-8">
						<button
							class="bg-black/5 w-fit h-fit py-2 px-4 text-black75 rounded-[6px] hover:bg-black/20 transition font-semibold">Lọc</button>
						<button type="reset"
							class="bg-black/5 w-fit h-fit py-2 px-4 text-black75 rounded-[6px] hover:bg-black/20 transition font-semibold">Hủy
							lựa chọn</button>
					</div>

				</div>
			</form>
			<div class="flex flex-col md:flex-row items-center justify-between self-end">

				<div class="lg:ml-40 ml-10 space-x-8 ">
					<button type="button"
						class="bg-red-600 px-4 py-2 rounded-md text-white disabled:bg-red-300 disabled:cursor-no-drop font-semibold tracking-wide cursor-pointer"
						id="delete" disabled>Xóa</button>
					<a th:href="@{/admin/formproduct}"
						class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
						Tạo mới</a>
				</div>
			</div>
		</div>
		<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div
					class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					<table class="min-w-full leading-normal">
						<thead>
							<tr>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider ">
									<div class="flex gap-2">
										<input type="checkbox" id="setAll" class="cursor-pointer"
									onClick="toggle(this)">
									<h6>Sản phẩm</h6>
									</div>
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Nhãn hiệu</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Ngày tạo</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Số lượng</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Danh mục sản phẩm</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Giá cả</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Thao tác</th>
							</tr>
						</thead>
						<tbody>
							<!-- data -->
							<tr th:each="product: ${products}">
								<td
									class="px-5 py-5 border-b border-gray-200 bg-white text-sm max-w-[340px]">
									<div class="flex items-center">
										<input type="checkbox" name="product"
											onClick="toggleCheck(this)">
										<div class="flex-shrink-0 w-16 h-16">
											<img class="w-full h-full "
												src="https://hanoicomputercdn.com/media/product/63862_laptop_asus_gaming_rog_strix_g513im_10.jpg"
												alt="" />
										</div>
										<div class="ml-3">
											<p th:text="${product.name}"
												class="text-gray-900 whitespace-no-wrap"></p>
										</div>
									</div>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p th:text="${product.brand.name}" class="text-gray-900 whitespace-no-wrap"></p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p th:text="${product.createdDate}"
										class="text-gray-900 whitespace-no-wrap"></p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p th:text="${product.quantity}"
										class="text-gray-900 whitespace-no-wrap"></p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<span th:each="ctg : ${product.categories}" th:text="${ctg.name}+','"></span>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p th:text="${product.price}+' Đồng'"
										class="text-gray-900 whitespace-no-wrap"></p>
								</td>
								<td class="px-5 py-5 bg-white text-sm flex items-center gap-4">
									<a
									th:href="@{/admin/productmanagement/delete/{id}(id=${product.id})}"
									class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
										Xóa</a>
									<a
										th:href="@{'/admin/formproduct?id='+${product.id}}"
										class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
										Chỉnh sửa</a>
								</td>
							</tr>
							<!-- data -->
						</tbody>
					</table>
					<!-- <div
                            class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                            <span class="text-xs xs:text-sm text-gray-900">
                                Showing 1 to 4 of 50 Entries
                            </span>
                            <div class="inline-flex mt-2 xs:mt-0">
                                <button
                                    class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l">
                                    Prev
                                </button>
                                &nbsp; &nbsp;
                                <button
                                    class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r">
                                    Next
                                </button>
                            </div>
                        </div> -->
					<div th:if="${totalPages>1}" class="flex justify-center">
						<nav aria-label="Page navigation example">
							<ul class="flex list-style-none items-center">
								<li class="page-item">Trang [[${currentPage}]] của
									[[${totalPages}]]</li>
								<li class="page-item"><a th:if="${currentPage>1}"
									th:href="@{'/admin/productmanagement/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 focus:shadow-none">quay
										lại</a> <span th:unless="${currentPage > 1}"
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none">
										Quay lại</span></li>
								<ul th:each="i: ${#numbers.sequence(1, totalPages)}">
									<li class="page-item"><a th:if="${currentPage!=i}"
										th:href="@{'/admin/productmanagement/page/'+${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
										class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none">[[${i}]]</a>
										<span
										class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
										th:unless="${currentPage != i}">[[${i}]]</span></li>
								</ul>
								<!-- <li class="page-item"><a
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
									href="#">2</a></li>
								<li class="page-item"><a
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
									href="#">3</a></li> -->
								<li class="page-item"><a th:if="${currentPage<totalPages}"
									th:href="@{'/admin/productmanagement/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none">Next</a>
									<span th:unless="${currentPage < totalPages}"
									class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none">
										Tiếp theo</span></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<script>
			const myTimeout = setTimeout(msg, 5000);

			function msg() {
				document.getElementById("msg").hidden = true;
			}
			function toggle(source) {
				checkboxes = document.getElementsByName('product');
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					checkboxes[i].checked = source.checked;
				}
				toggleDeleteBtn();
			}
			function toggleCheck(source) {
				toggleDeleteBtn();
				toggleSetAll();
			}
			function toggleSetAll() {
				setAll = document.getElementById('setAll');
				checkboxes = document.getElementsByName('product');
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					if (checkboxes[i].checked == false) {
						setAll.checked = false;
						return true;
					}
				}
				setAll.checked = true;
				return false;
			}
			function toggleDeleteBtn() {

				checkboxes = document.getElementsByName('product');
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					if (checkboxes[i].checked == true) {
						document.getElementById('delete').disabled = false;
						return true;
					}
				}
				document.getElementById('delete').disabled = true;
			}
		</script>
	</div>

</body>

</html>
</html>