<!-- footer -->
<footer class="bg-second">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-6">
        <h3 class="footer-head">Products</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">services</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">support</h3>
        <ul class="menu">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">product help</a></li>
          <li><a href="#">warranty</a></li>
          <li><a href="#">order status</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="contact-header">
            <img src="/assets/icons/ProxTech.svg" alt="Logo shop">
          </div>
          <ul class="contact-socials">
            <li><a href="#">
                <i class='bx bxl-facebook-circle'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-instagram-alt'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-youtube'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-twitter'></i>
              </a></li>
          </ul>
        </div>
        <div class="subscribe">
          <input type="email" placeholder="ENTER YOUR EMAIL">
          <button>subscribe</button>
        </div>
      </div>
    </div>
  </div>
</footer>
