<!-- footer -->
<footer class="bg-second">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-6">
        <h3 class="footer-head">Sản phẩm</h3>
        <ul class="menu">
          <li><a href="#">Trung tâm hỗ trợ</a></li>
          <li><a href="#">Liên hệ với chúng tôi</a></li>
          <li><a href="#">Hỗ trợ sản phẩm</a></li>
          <li><a href="#">Chính sách</a></li>
          <li><a href="#">Theo dõi đơn hàng</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">Dịch vụ</h3>
        <ul class="menu">
          <li><a href="#">Trung tâm hỗ trợ</a></li>
          <li><a href="#">Liên hệ với chúng tôi</a></li>
          <li><a href="#">Hỗ trợ sản phẩm</a></li>
          <li><a href="#">Chính sách</a></li>
          <li><a href="#">Theo dõi đơn hàng</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6">
        <h3 class="footer-head">Hỗ trợ</h3>
        <ul class="menu">
          <li><a href="#">Trung tâm hỗ trợ</a></li>
          <li><a href="#">Liên hệ với chúng tôi</a></li>
          <li><a href="#">Hỗ trợ sản phẩm</a></li>
          <li><a href="#">Chính sách</a></li>
          <li><a href="#">Theo dõi đơn hàng</a></li>
        </ul>
      </div>
      <div class="col-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="contact-header">
            <img src="/assets/icons/ProxTech.svg" alt="Logo shop">
          </div>
          <ul class="contact-socials">
            <li><a href="#">
                <i class='bx bxl-facebook-circle'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-instagram-alt'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-youtube'></i>
              </a></li>
            <li><a href="#">
                <i class='bx bxl-twitter'></i>
              </a></li>
          </ul>
        </div>
        <div class="subscribe">
          <input type="email" placeholder="NHẬP EMAIL">
          <button>Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</footer>
