<!DOCTYPE html>
<!-- header -->
<header>
	<!-- mobile menu -->
	<div class="mobile-menu bg-second">
		<a href="#" class="mb-logo">
			<img src="/assets/icons/ProxTech.svg" alt="Logo shop">
		</a>
		<span class="mb-menu-toggle" id="mb-menu-toggle">
			<i class='bx bx-menu'></i>
		</span>
	</div>
	<!-- end mobile menu -->
	<!-- main header -->
	<div class="header-wrapper" id="header-wrapper">
		<span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
			<i class='bx bx-x'></i>
		</span>
		<!-- top header -->
		<div class="bg-second">
			<div class="top-header container">
				<ul class="devided">
					<li>
						<a th:href="'tel:'+${@phoneShop}" th:text="${@phoneShop}"></a>
					</li>
					<li>
						<a th:href="'tel:'+${@emailShop}" th:text="${@emailShop}"></a>
					</li>
				</ul>
				<ul class="devided">
					<li class="dropdown">
						<a href="#">VND</a>
						<i class='bx bxs-chevron-down'></i>
						<ul class="dropdown-content">
							<li><a href="#">VND</a></li>
							<li><a href="#">USD</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#">VIETNAMESE</a>
						<i class='bx bxs-chevron-down'></i>
						<ul class="dropdown-content">
							<li><a href="#">VIETNAMESE</a></li>
							<li><a href="#">ENGLISH</a></li>
						</ul>
					</li>
					<th:block sec:authorize="isAuthenticated()">
						<li><a href="#">THEO DÕI ĐƠN HÀNG</a></li>
					</th:block>
				</ul>
			</div>
		</div>
		<!-- end top header -->
		<!-- mid header -->
		<div class="bg-main">
			<div class="mid-header container">
				<a th:href="${@homePath}" class="logo">
					<img src="/assets/icons/ProxTech.svg" alt="Logo shop">
				</a>
				<div class="search">
					<input type="text" placeholder="Tìm kiếm">
					<i class='bx bx-search-alt'></i>
				</div>
				<ul class="user-menu">
					<li>
						<th:block th:include="includes/box-user" />
					</li>
					<li class="user-menu-second">
						<a href="#">
							<p>Thông báo</p><i class='bx bx-bell'></i>
						</a>
					</li>
					<li class="user-menu-second">
						<a th:href="'/gio-hang'">
							<p>Giỏ hàng</p><i class='bx bx-cart'></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end mid header -->
		<!-- bottom header -->
		<div class="bg-second">
			<div class="bottom-header container">
				<ul class="main-menu">
					<li><a th:href="${@homePath}">Trang chủ</a></li>
					<!-- mega menu -->
					<li class="mega-dropdown">
						<a th:href="${@productPath}">Sản phẩm<i class='bx bxs-chevron-down'></i></a>
						<div class="mega-content">
							<div class="row">
								<div th:each="brand : ${@brands.get()}" class="col-3 col-md-12">
									<div class="box">
										<h3 th:text="${brand.name}"></h3>
										<ul>
											<li th:each="category : ${@categories.get()}">
												<a th:href="${@productPath} + '?c=' + ${category.id} + '&b=' + ${brand.id}"
													th:text="${category.name}"></a>
											</li>
										</ul>
										<img th:src="${@uploadImageURL} + ${brand.thumbnail}"
											th:alt="'Hình ảnh thương hiệu ' + ${brand.name}">
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- end mega menu -->
					<li><a href="#">Bài viết</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
		</div>
		<!-- end bottom header -->
	</div>
	<!-- end main header -->
</header>
<!-- end header -->